.bottom-to-top {
    width: .8rem;
    height: .8rem;
    position: fixed;
    bottom: 1rem;
    right: .3rem;
    z-index: 888;
    display: none;
}
.bottom-to-top img {
    width: 100%;
    height: auto;
    display: block;
}
