body {
	background: #F5F5F5;
}

/*!* 头部 *!*/

#Middle,
.identity,
.default{
	margin: .16rem 0;
	overflow: auto;
	zoom: 1;
	background: #FFFFFF;
}

#Middle input {
	width: 92%;
	height: .94rem;
	line-height: .94rem;
	float: left;
	font-size: .28rem;
	padding: 0 4%;
	border-bottom: .002rem solid #F5F5F5;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

#Middle .Address{
	width: 92%;
	height: .94rem;
	line-height: .94rem;
	float: left;
	font-size: .28rem;
	padding: 0 4%;
	border-bottom: .002rem solid #F5F5F5;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.Address .Address-title {
	float: left;
	margin-right: .2rem;
}

.Address .Address-title em{
	margin-right: .1rem;
}

.Address .Address-tab{
	float: right;
}

.Address .Address-tab img {
	width: .64rem;
	height: .64rem;

}

.identity-Serial {
	width: 92%;
	height: .96rem;
	line-height: .96rem;
	padding: 0 4%;
	font-size: .28rem;
	border-bottom: .02rem solid #F5F5F5;
	float: left;
}

.identity-content {
	float: left;
}

.identity-upload {
	width: 100%;
	height: .96rem;
	line-height: .96rem;
	font-size: .28rem;
	text-indent: .32rem;
	display: inline-block;
	float: left;
}

.identity-picture {
	width: 100%;
	height: auto;
	float: left;
}

.identity-picture>a {
	width: 2.36rem;
	height: 1.4rem;
	display: inline-block;
	float: left;
	margin: 0 .32rem .32rem;
}

.identity-picture>a>img {
	width: 100%;
	height: 100%;
	float: left;
}

.default {
	width: 92%;
	padding: 0 4%;
	height: .96rem;
	float: left;
	margin-bottom: .32rem;
}

.default .check {
	width: auto;
	height: .96rem;
	padding-left: .38rem;
	font-size: .24rem;
	line-height: .96rem;
	background: url(../images/editad/ic_check_box_outline.png) no-repeat 0 .32rem;
	background-size: .28rem;
}

.default .check.active{
	background: url(../images/editad/ic_check_box.png) no-repeat 0 .32rem;
	background-size: .28rem;
}



.delete {
	width: 100%;
	height: .96rem;
	float: left;
}

.delete>a {
	width: 2rem;
	height: .72rem;
	line-height: .72rem;
	margin: .12rem 0;
	float: right;
	margin-right: .32rem;
	color: #FFFFFF;
	text-align: center;
	font-size: .32rem;
	background: url(../images/editad/bg_person.png) no-repeat;
	background-size: 100%;
	border-radius: .06rem;
	 	
}