.webpack {
     background: url(../images/webpack.png) no-repeat center;
     height:500px;
 }
.small-webpack {
    background: url(../images/small-webpack.png) no-repeat center;
    height:250px;
    border-radius: 4px;
    text-align: center;

}